<div class="full-page" id="user-monster" user-id=<%=current_user.id%> monster-id=<%=@monster.id %> skillhaving-1=<%if @userskills.find_by(skill_id:1).present?%> 1 <%end%> skillhaving-2=<%if @userskills.find_by(skill_id:2).present?%> 1 <%end%> skillhaving-3=<%if @userskills.find_by(skill_id:3).present?%> 1 <%end%>>
	<div id= "canvas" class="canvas">
		<div class="battle-status">
	 		<div id="status-name" class="text-status"><%=current_user.nickname%></div>
	 		<div id="status-hp" class="text-status">HP:<%=current_user.ability.hp%></div>
			<div id="status-mp" class="text-status">MP:<%=current_user.ability.mp%></div>
		</div>
		<div class="monster">
			<div class="monster-img"><img id="monster-image" src="<%=@monster.image%>"></div>
		</div>
		<div class="monster-img-bottom"></div>
		<div class="lower">
			<div class="command">
				<ul>
					<li><span id="attack-cursor" class="battle-cursor">　</span><span id='attack-command'>たたかう</span></li>
					<li><span id="magic-cursor" class="battle-cursor">　</span><span id='magic-command'>じゅもん</span></li>
					<li><span id="defense-cursor" class="battle-cursor">　</span><span id='defense-command'>ぼうぎょ</span></li>
					<li><span id="escape-cursor" class="battle-cursor">　</span><span id='escape-command'>にげる</span></li>
				</ul>
			</div>
			<div class="message">
				<div id="battle-message"class="text-status"><%=@monster.name%>が現れた！！</div>
			</div>
		</div>
	</div>
</div>


